.hero {
  position: absolute;
  width: 100%;
  height: 270px;
  left: 0px;
  top: 74px;
  background-color: var(--color-black);
}
.hero_heading1 {
  position: absolute;
  width: 473px;
  height: 48px;
  left: 448px;
  top: 97px;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: var(--color-white);
}
.hero_heading2 {
  position: absolute;
  width: 556px;
  height: 48px;
  left: 407px;
  top: 149px;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: var(--color-white);
}
.hero_img {
  position: absolute;
  width: 212px;
  height: 212px;
  left: 994px;
  top: 29px;
}
